<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <br>
          <ng-container>
    
    
            <br>
            <img src="../../assets/blabla/nfcar.png" style="height: 70%; width: 70%" class="rounded mx-auto d-block" alt="...">
            <br>
            <h4 class="text-center">404 NOT-FOUND</h4>
            <h6 class="text-center">We are unable to process your request
              <button routerLink="/" color="accent" mat-button>Home</button>
            </h6>
          </ng-container>
        </div>
      </div>
</div>